<?xml version="1.0" encoding="utf-8"?>
<config>
	<licenseNumber>9503-0103-150014</licenseNumber>
	<domainKey>d2859531c45cabe4bd117e4d75b662084cb728a63b26631e832d71f2a4a679bd4b7d882d3b3dd2091b0691948d9f3a98</domainKey>
	<maxImageNum>20</maxImageNum>
	<maxImageWidth>1600</maxImageWidth>
	<maxImageHeight>1600</maxImageHeight>
	<maxImageBytes>10485760</maxImageBytes>
	<checkImageTitle>off</checkImageTitle>
	<locale>kor</locale>
	<services>
		<service>
			<name>Editor</name>
			<iconURL></iconURL>
			<url>com/namo/Editor.swf</url>
		</service>
		<service>
			<name>Slideshow</name>
			<iconURL>assets/images/slideshow/slideshow_icon.png</iconURL>
			<url>com/namo/Slideshow.swf</url>
		</service>
	</services>
</config>
