<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Product>
		<Name>Namo CrossEditor</Name>
		<Logo></Logo>
		<Help></Help>
		<Info></Info>
	</Product>
	<General>
		<WebServerOS>LINUX</WebServerOS>
		<WebServerInfo>Tomcat</WebServerInfo>
		<WebLanguage>JSP</WebLanguage>
		<ImageSavePath></ImageSavePath>
		<Width>800</Width>
		<Height>780</Height>
		<UploadFileNameType>random</UploadFileNameType>
		<UploadFileViewer></UploadFileViewer>
		<UploadFileSizeLimit></UploadFileSizeLimit>
		<UploadFileSubDir>true</UploadFileSubDir>
		<UploadFileExtBlockList>0|zip,doc,docx,xlsx,xls</UploadFileExtBlockList>
		<AttributeBlockList>0|onclick,onerror,onblur</AttributeBlockList>
		<TagBlockList>0|script,iframe</TagBlockList>
		<Template></Template>
	</General>
	<Editor>
		<SetFocus>true</SetFocus>
		<LineHeight></LineHeight>
		<UnloadWarning>false</UnloadWarning>
		<SetDebug>false</SetDebug>
		<HTMLTabByTableLock>false</HTMLTabByTableLock>
		<HTMLTabContents>body</HTMLTabContents>
		<AccessibilityOption>1</AccessibilityOption>
		<FontColor>#000000</FontColor>
		<FontSizeList>7.5pt,8pt,9pt,10pt,11pt,12pt,14pt,16pt,18pt,20pt,22pt,24pt,26pt,28pt,36pt,40pt</FontSizeList>
		<LineHeightList>100%,120%,140%,150%,160%,180%,200%</LineHeightList>
		<IndentPaddingValue>40</IndentPaddingValue>
		<ReturnKeyActionBR>false</ReturnKeyActionBR>
		<ImgLineColor>#000000</ImgLineColor>
		<TableLineColor>#000000</TableLineColor>
		<TableBGColor>#FFFFFF</TableBGColor>
	</Editor>
	<Document>
		<CharSet>auto</CharSet>
		<DocBaseURL></DocBaseURL>
		<DocTitle></DocTitle>
		<AllowContentScript>false</AllowContentScript>
		<AllowContentIframe>false</AllowContentIframe>
		<MSOfficeTranON></MSOfficeTranON>
	</Document>
	<UI>
		<Skin>default</Skin>
		<UserSkinColor></UserSkinColor>
		<Css></Css>
		<UserToolbar>true</UserToolbar>
		<CreateToolbar>newdoc|saveas|print|space|pagebreak|spacebar|undo|redo|cut|copy|paste|pastetext|search|replace|selectall|spacebar|image|photoeditor|backgroundimage|flash|insertfile|spacebar|hyperlink|bookmark|inserthorizontalrule|specialchars|emoticon|spacebar|layout|spacebar|word_layer|enter|word_style|space|word_color|cancelattribute|spacebar|word_justify|space|word_indentset|space|txtmargin|space|word_listset|spacebar|tableinsert|tabledraginsert|spacebar|tablerowinsert|tablerowdelete|tablecolumninsert|tablecolumndelete|spacebar|tablecellmerge|tablecellsplit|spacebar|tablecellattribute|spacebar|spellchecker|enter|template|formatblock|fontname|fontsize|lineheight|spacebar|blockquote|word_script|spacebar|word_dir|spacebar|fullscreen|help|information</CreateToolbar>
		<CreateTab>0|1|2</CreateTab>
		<IsQuestAutoSave></IsQuestAutoSave>
	</UI>
	<User>
		<AddMenu></AddMenu>
	</User>
</Configuration>
