	body {font-family:dotum; background:#ffffff; margin:0px; color:#666666;}
	table, td, input, select {font-size:12px; font-family:dotum;}
	image {border:0px;}

	a:link    {color:#666666;text-decoration:none;}
	a:visited {color:#666666;text-decoration:none;}
	a:active  {color:#000000;text-decoration:none;}
	a:hover   {color:#000000;text-decoration:none;}
 
 	#login_visual {height:380px;text-align:center;background:url('../images/login/top_bg.png') repeat-x;}
	#login_visual p {margin:0px; width:100%; height:380px;  background:url('../images/login/top_visual.png') center top no-repeat;}
	.login_box {padding-top:40px; padding-bottom:20px; text-align:center; background:url('../images/login/login_box_top.png') repeat-x; border-bottom:1px #b3b3b3 dotted;}
	.login_input_box {width:170px;height:22px;line-height:22px;border-top:1px #b8b8b8 solid; border-left:1px #b8b8b8 solid; border-right:1px #dadada solid; border-bottom:1px #dadada solid;}
	.login_idpw_search {height:85px;border-bottom:1px #b8b8b8 solid; background:url('../images/login/idpwsearch_txt.gif') 10px 50% no-repeat;}
 	
	.iframe {
	width:100%;;overflow-y:auto;
	scrollbar-face-color:#eeeeee;
	scrollbar-shadow-color:#e4e4e4;
	scrollbar-highlight-color:#d7d7d7;
	scrollbar-3dlight-color:#f7f7f7;
	scrollbar-darkshadow-color:#f7f7f7;
	scrollbar-track-color:#f7f7f7;
	scrollbar-arrow-color:#666666;
	}
	#treemenu {clear:both;}
	#treemenu th {height:25px;text-align:left;}
	#treemenu td {height:25px;text-align:left;}
	#treemenu .folder_top {background:url('../images/common/icon_folder00_close.gif') 5px 50% no-repeat; padding-left:15px;}

	.textbox {height:22px; line-height:22px; border-top:1px #b4c3cd solid; border-left:1px #b4c3cd solid; border-bottom:1px #cbd5db solid; border-right:1px #cbd5db solid; font-size:12px;}
	.textbox2 {height:22px; line-height:22px; border-top:1px #c0c0c0 solid; border-left:1px #c0c0c0 solid; border-bottom:1px #d3d3d3 solid; border-right:1px #d3d3d3 solid; font-size:12px;}

	/*.body_bg_top {width:860px; background:url('../images/common/bg_top.gif') repeat-x; text-align:center;}*/
	.body_bg_top {width:860px; repeat-x; text-align:center;}

	.navi_home {font-size:11px;color:#b1b1b1;background:url('../images/common/navi_home.gif') 1px 40% no-repeat; padding-left:11px;}
	.navi_arrow {font-size:11px;color:#b1b1b1;background:url('../images/common/navi_arrow.gif') 8px 50% no-repeat; padding-left:20px;}
	.navi_arrow2 {font-size:11px;color:#929292;font-weight:bold;background:url('../images/common/navi_arrow.gif') 8px 50% no-repeat; padding-left:20px;}

	.mail {background:url('../images/common/icon_mail.gif') 0px 50% no-repeat; padding-left:15px; color:#347bc2;}
	.phone {background:url('../images/common/icon_phone.gif') 0px 50% no-repeat; padding-left:10px; color:#000000; font-weight:bold;}

	.quick_bg {width:100%; height:100%; background:url('../images/common/quick_bg_top2.gif') repeat-x;}
	.quick_bg2 {width:77px;background:url('../images/common/quick_bg.gif') repeat-y;}

	.search_box {border-top:1px #e0e9ec solid; border-bottom:1px #e0e9ec solid; background:#f2f7fb; padding:10px;}
	#search_box th {text-align:left; font-size:12px; color:#587588; font-weight:bold; background:url('../images/search/icon_search_bullet.gif') 0px 45% no-repeat; padding-left:12px; padding-right:10px;}
	
	.search_reset_time {color:#1c68b6; font-weight:bold; background:url('../images/search/icon_search_reset_time.gif') 0px 50% no-repeat; padding-left:15px;}
	.search_result_01 {color:#139213; font-weight:bold; background:url('../images/search/icon_search_result_01.gif') 0px 50% no-repeat; padding-left:15px;}
	.search_result_02 {color:#94602c; font-weight:bold; background:url('../images/search/icon_search_result_02.gif') 0px 50% no-repeat; padding-left:13px;}
	.search_result_03 {color:#3d77b2; font-weight:bold; background:url('../images/search/icon_search_result_03.gif') 0px 50% no-repeat; padding-left:11px;}
	.search_result_04 {color:#ae7b00; font-weight:bold; background:url('../images/search/icon_search_result_04.gif') 0px 50% no-repeat; padding-left:13px;}

	.sort_on {font-weight:bold; color:#ff4947; background:url('../images/common/icon_sort.gif') right 50% no-repeat; padding-right:10px;}
	.sort {color:#666666; background:url('../images/common/sort_line.gif') right 50% no-repeat; padding-right:10px; padding-left:5px;}

	.sub_tit {background:url('../images/common/icon_subtit.gif') 0px 0px no-repeat; padding-left:15px; font-weight:bold; color:#363636;}
	.sub_tit1 {padding-left:15px; font-weight:bold; color:#363636;}
	.sub_tit2 {background:url('../images/common/icon_subtit.gif') 0px 4px no-repeat; padding-left:15px; font-weight:bold; color:#363636;}

	#pop_head {height:43px;background:url('../images/common/pop_tit_bg.gif');line-height:43px;}
	#pop_head p {float:left;text-indent:10px;font-weight:bold;color:#FFFFFF;font-size:14px;}
	#pop_head span {float:right;display:inline;padding-top:15px;padding-right:10px;}

	#pop_mail_group {width:100%; height:100%; border-top:2px #CCCCCC solid; border-left:1px #dddddd solid; border-right:1px #dddddd solid; border-bottom:1px #dddddd solid;}
	#pop_mail_group th {height:28px; background:#f7f7f7;   border-bottom:1px #eeeeee solid; text-align:left; color:#000000; padding-left:10px; }
	#pop_mail_group .tab_on {background:#FFFFFF;text-align:center; border-bottom:1px #ffffff solid; border-left:1px #eeeeee solid; border-right:1px #eeeeee solid;}
	#pop_mail_group .tab_on_txt { background:url('../images/common/icon_tab_on_arrow.gif') right 50% no-repeat; padding-right: 9px;}
	#pop_mail_group .tab_off {background:#f7f7f7;text-align:center;}
	.pop_mail_group_top {height:30px; border-bottom:1px #DDDDDD solid; background:url('../images/common/icon_dot.gif') 1px 50% no-repeat; padding-left:5px; font-weight:bold;}
	.pop_mail_group_top2 {height:30px; border-bottom:1px #DDDDDD solid; }
	.pop_mail_group_td {height:30px; border-bottom:1px #CCCCCC dotted; padding-left:5px;}
	.pop_mail_group_td_on {height:30px; background:#f6f6f6; border-bottom:1px #CCCCCC dotted; padding-left:5px;}

	#board_write {width:100%; border-top: 2px #d5d5d5 solid;}
	#board_write th {padding:5px;width:120px;background:#f7f7f7;border-bottom:1px #CCCCCC dotted; text-align:left;}
	#board_write td {padding:5px;border-bottom:1px #CCCCCC dotted;}
	#board_write .normal {padding:5px;}
	#board_write ul {margin:0px; display: inline; list-style-type: none;}
	#board_write li {height:24px; line-height:24px; margin:0px; display: inline; list-style-type: none; float:left;}
	.board_write_tit {background:url('../images/common/icon_dot.gif') 10px 50% no-repeat; padding-left:15px; color:#555555;}

	#board_01 {width:100%;}
	#board_01 th {height:30px;background:url('../images/common/board_top_bg.gif');}
	#board_01 td {height:27px;border-bottom:1px #cfcfcf dotted;text-align:center; color:#707070;}
	#board_01 .same {height:100%;border-bottom:1px #ffffff dotted;text-align:center; color:#707070;}
	#board_01 dl {margin:0px; display: inline; list-style-type: none;}
	#board_01 dd {width:7px; margin:0px; display: inline; list-style-type: none;}

	.board01_category {color:#225bd1;font-size:11px;}
	.board_01_tit {width:100%; text-align:left; background:url('../images/common/icon_dot.gif') 5px 50% no-repeat; padding-left:10px; color:#000000;}
	.board_01_tit_01 {width:100%; text-align:left; background:url('../images/search/con_icon01.gif') 5px 50% no-repeat; padding-left:20px;}
	.board_01_tit_02 {width:100%; text-align:left; background:url('../images/search/con_icon02.gif') 5px 50% no-repeat; padding-left:20px;}
	.board_01_tit_03 {width:100%; text-align:left; background:url('../images/search/con_icon03.gif') 5px 50% no-repeat; padding-left:20px;}


	#board_02 {width:100%;}
	#board_02 th {text-align:left;padding-top:10px;padding-bottom:8px;color:#1050af;border-top:1px #DDDDDD solid;}
	#board_02 .top {text-align:left;padding-top:10px;padding-bottom:8px;color:#1050af;border-top:1px #FFFFFF solid;}
	#board_02 td {color:#777777;line-height:200%;padding-bottom:10px;}
	#board_02 .end {color:#777777;line-height:200%;padding-bottom:5px;border-bottom:1px #DDDDDD solid;}
	#board_02 .issue_off {background:url('../images/common/icon_issue_off.gif') left top no-repeat;padding-left:15px; font-weight:normal; color:#a5a5a5; font-size:11px;}
	#board_02 .issue_on {background:url('../images/common/icon_issue_on.gif') left top no-repeat;padding-left:15px; font-weight:normal; color:#fe6000; font-size:11px;}
	#board_02 .source {font-size:11px;font-weight:bold;color:#519d1a;padding-left:10px;padding-right:10px;border-left:1px #CCCCCC solid;}
	#board_02 .date {font-size:11px;font-weight:normal;color:#585858;padding-left:10px;padding-right:10px;border-left:1px #CCCCCC solid;}

	#paging td {padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px;border:1px #e2e2e2 solid; color:#7d7d7d;}
	#paging .img {padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px; color:#ffffff;}
	#paging th {padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px;border:1px #ff9898 solid; color:#ff3737;}

	/* ��d,�߸�,��d ��Ʈ */
	.tendency_01 {font-weight:bold;color:#1977f8;}
	.tendency_02 {font-weight:bold;color:#499809;}
	.tendency_03 {font-weight:bold;color:#ff3737;}
	
	.tit_bg {height:67px;padding-top:20px;background:url('../images/common/tit_line.gif') bottom repeat-x;}
	.quick_bg {width:100%; height:100%; background:url('../images/common/quick_bg_top2.gif') repeat-x;}
	.quick_bg2 {width:77px;background:url('../images/common/quick_bg.gif') repeat-y;}
	
	/*�߰�*/
	.b_text {
	/* FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-FAMILY: "����" */
	   FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: "����"
     }
	.textbox3 {height:20px; line-height:20px; border-top:1px #c0c0c0 solid; border-left:1px #c0c0c0 solid; border-bottom:1px #d3d3d3 solid; border-right:1px #d3d3d3 solid; font-size:12px;}
	.check_box {border-top:1px #F2F7FB solid; border-bottom:1px #F2F7FB solid; background:#f2f7fb;}
	
	.white_b {
	font-size: 14px;
	color: #FFFFFF;
	line-height: normal;
	font-family: Dotum;
	}
	
	/**/
	.blue_text {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0652AA; LINE-HEIGHT: 16px; FONT-FAMILY: "����"
     }
	 .input_text02 {height:200px; border-top: 1px #CFCFCF solid; border-left: 1px #CFCFCF solid; border-right: 1px #CFCFCF solid; border-bottom: 1px #CFCFCF solid;      background:#FFFFFF; font-size:12px; color:#666666;}